body{
	background-color:#e3e3e0;
	margin:0px;
}


.big img{
	background-size: cover;
	position: relative;
	width: 100vw;
	height: 100vh;
	display: block;
}

.flower img{
	position:absolute;
	bottom:13%;
	left:5%;
	width: 10vw;
	height: auto;
	margin-left:0px;
}

.example img{
	position:absolute;
	top:6%;
	left:20%;
	width: auto;
	height: 85%;
	margin-left:0px;
}
